#
# Project specific excludes
#

tomcat

#
# Default excludes
#

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Maven 
project/target/

# IntelliJ project files 
*.iml
*.iws
*.ipr
persistence/.idea/
.idea/


# NetBeans specific
persistence/nbproject/private/
persistence/build/
persistence/nbbuild/
persistence/dist/
persistence/nbdist/
persistence/nbactions.xml
persistence/nb-configuration.xml


# Misc
*.swp
persistence/release.properties
persistence/pom.xml.releaseBackup
persistence/pom.xml.tag
