#
# Project specific excludes
#

tomcat

#
# Default excludes
#

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

# Maven 
project/target/

# IntelliJ project files 
*.iml
*.iws
*.ipr
project/.idea/


# NetBeans specific
project/nbproject/private/
project/build/
project/nbbuild/
project/dist/
project/nbdist/
project/nbactions.xml
project/nb-configuration.xml


# Misc
*.swp
project/release.properties
project/pom.xml.releaseBackup
project/pom.xml.tag