#
# Project specific excludes
#

tomcat

#
# Default excludes
#

# Binaries
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.war
*.ear
*.sar
*.class

#persistence folder

# Maven 
persistence/target/

# IntelliJ project files 
*.iml
*.iws
*.ipr
persistence/.idea/
.idea/


# NetBeans specific
persistence/nbproject/private/
persistence/build/
persistence/nbbuild/
persistence/dist/
persistence/nbdist/
persistence/nbactions.xml
persistence/nb-configuration.xml


# Misc
*.swp
persistence/release.properties
persistence/pom.xml.releaseBackup
persistence/pom.xml.tag

#service folder

# Maven 
service/target/

# IntelliJ project files 
*.iml
*.iws
*.ipr
service/.idea/
.idea/


# NetBeans specific
service/nbproject/private/
service/build/
service/nbbuild/
service/dist/
service/nbdist/
service/nbactions.xml
service/nb-configuration.xml


# Misc
*.swp
service/release.properties
service/pom.xml.releaseBackup
service/pom.xml.tag
/api/target/
/spring-mvc/target/
/sample-data/target/
/rest/target/

#folder project begone
project/
